.home-background {
    background-image: url('https://github.com/dsvlivon/imagenes/blob/main/parciales/fondo-background-azul.jpg?raw=true');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh; /* Usa min-height en lugar de height */
    display: flex;
    flex-direction: column; /* Apila los elementos verticalmente */
    padding-top: 80px; /* Espacio para la barra de navegación */
    align-items: center; /* Centra los elementos horizontalmente */
}

 
.confirmation-message {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    max-width: 400px;
  }
  body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: cyan;
    color: #fff;
    padding: 10px 0;
    height: 80px;
    display: flex;
    
}

.der {
    display: flex;
    justify-content:flex-end; 
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    
}

.izq {
    display: flex;
    justify-content:flex-start; 
}

.logo {
    justify-content: flex-start; 
    font-size: 24px;
    height: 85px; 
    width: auto;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    display: inline;
}

.nav-links li a {
    color: #08000e;
    text-decoration: none;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

.nav-links li a:hover {
    background-color: magenta;
    color: whitesmoke;
}

.content {
    padding: 20px;
}


.mostrarSpinnner {
    color: red;
    
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
  }
  
.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

 @-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  
  .cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px; /* Espacio entre las tarjetas */
    justify-content: center; /* Centrar las tarjetas horizontalmente */
    padding: 20px;
}

.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    width: 300px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.card-img-top {
    width: 100%;
    border-radius: 50%;
}

.card-body {
    text-align: center;
}

.card-title {
    margin: 8px 0;
}

.card-text {
    margin: 4px 0;
}