.perfil-background {
    background-image: url('https://github.com/dsvlivon/imagenes/blob/main/parciales/fondo-background-azul.jpg?raw=true');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.perfil-container {
    width: 50%;
    height: auto;
    margin: 0 auto;
    padding: 90px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: whitesmoke;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.close {
    position:fixed;
    top: 70px;
    right: 300px;
    background: lightcoral;
    border: none;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    color: #333;
    width: 30px;
    height: auto;
  }  
  
.perfil-info {
margin-top: 20px;
display: flex;
align-items: center;
}
  
.perfil-imagen img {
width: 150px;
height: 150px;
border-radius: 50%;
margin-right: 20px;
}

.perfil-detalles {
flex: 1;
margin-left: 60px;
}

.perfil-detalles p {
margin: 8px 0;
font-size: large;
line-height: 1.25;
}

.perfil-detalles p strong {
font-weight: bold;
}

.horarios-container {
    text-align: center;
    margin-top: 20px;
    background-color: whitesmoke;
  }
  
  button {
    margin: 5px;
    padding: 10px 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
    padding: 10px;  
  }
  
  button.seleccionado  {
    background-color: #333;
    color: #fff;
  }

  .button-group {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }
  
  .button-group button {
    width: 48%;
    padding: 10px;
    font-size: 1em;
    color: white;
    background-color: #1976d2;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .button-group button:hover {
    background-color: #145a8a;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #ccc;
    padding: 1px;
    text-align: center;
    align-items: center;
  }
  
  th {
    background-color: #f0f0f0;
  }
  
  button {
    width: 100%; 
    padding: 1px;
    cursor: pointer;
    background: none;
    border: none;
  }
  
  button.selected {
    background-color: #1976d2;
    color: white;
  }
  
  button:hover {
    background-color: #4d4f50;
    color: white;
  }

  .selected-cell {
    background-color: #1976d2;
  }

  .btn-google {
    padding: 10px 20px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px;
    margin-left: 40%;
    margin-top: 30px;
    width: 150px;
  }

.accion-item {
    display: flex;
    align-items: center;
    margin: 0 10px;
}