<!-- <p>mis-turnos works!</p> -->
<div class="botones-wrapper">
    Refrescar:
    <button (click)="refrescar()" class="btn-filtros">
        <img  [src]="obtenerImagen('refrescar')" alt="Paciente 1" class="btn-foto">
        <p>Refrescar: </p>
    </button>

    Especialidades:
    <button *ngFor="let item of filtroEspecialidad" (click)="seleccionarEspecialidad(item)" class="btn-filtros">
        <img [src]="obtenerImagen(item)" alt="{{ item }}" class="btn-foto">
        <p>{{ item }}</p>
    </button>
    <div *ngIf="mostrarFiltroEspecialista">
        Especialistas:
        <button *ngFor="let item of filtroEspecialista" (click)="seleccionarEspecialista(item)" class="btn-filtros">
            <img [src]="item.imagen1" alt="Especialista 1" class="btn-foto">
            <p>{{ item.nombre }} {{ item.apellido }}</p>
        </button>
    </div>

    <div *ngIf="mostrarFiltroPaciente">
        Pacientes:
        <button *ngFor="let item of filtroPaciente" (click)="seleccionarPaciente(item)" class="btn-filtros">
            <img [src]="item.imagen1" alt="Paciente 1" class="btn-foto">
            <p>{{ item.nombre }} {{ item.apellido }}</p>
        </button>
    </div>

</div>
<table mat-table [dataSource]="turnos" style ="background-color: darkslategrey" class="mat-elevation-z8">
    <ng-container matColumnDef="Estado">
        <th mat-header-cell *matHeaderCellDef> Estado </th>
        <!-- <td mat-cell *matCellDef="let obj">  </td> -->
        <td mat-cell *matCellDef="let obj" [appEstadoTurno]="obj.estado">{{obj.estado}}</td>
    </ng-container>

    <ng-container matColumnDef="Dia">
        <th mat-header-cell *matHeaderCellDef> Dia </th>
        <td mat-cell *matCellDef="let obj"> {{obj.dia}} </td>
    </ng-container>
        
    <ng-container matColumnDef="Hora">  
        <th mat-header-cell *matHeaderCellDef> Hora </th>
        <td mat-cell *matCellDef="let obj"> {{obj.hora}} </td>
    </ng-container>
      
    <ng-container matColumnDef="Especialidad">
        <th mat-header-cell *matHeaderCellDef> Especialidad </th>
        <td mat-cell *matCellDef="let obj"> {{obj.especialidad}} </td>
    </ng-container>

    <ng-container matColumnDef="Especialista">
      <th mat-header-cell *matHeaderCellDef> Especialista </th>
      <td mat-cell *matCellDef="let obj"> {{obj.especialista.nombre}} {{obj.especialista.apellido}} </td>
    </ng-container>  
  
    <ng-container matColumnDef="Paciente">
      <th mat-header-cell *matHeaderCellDef> Paciente </th>
      <td mat-cell *matCellDef="let obj"> {{obj.paciente.nombre}} {{obj.paciente.apellido}} </td>
    </ng-container>

    <ng-container matColumnDef="Obra Social">
        <th mat-header-cell *matHeaderCellDef> Obra Social </th>
        <td mat-cell *matCellDef="let obj"> {{obj.paciente.obraSocial}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="columnas"></tr>
    <tr mat-row *matRowDef="let obj; columns: columnas;" (click)="emitirDetalles(obj)"></tr>
</table>

<app-detalle-turno [obj]="selectedObj" *ngIf="mostrarDetalle && selectedObj"></app-detalle-turno>

