<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.css">
<body class = "background">
    <div class="welcome-container">
        <h1>Clinica</h1>
        <img class="logo" src="https://github.com/dsvlivon/imagenes/blob/main/DV_logo.png?raw=true" alt="Logo">
        <h1>Bienvenido</h1>
        <div class="button-container">
            <button class="btn login-btn" (click)="goLogin()">Iniciar Sesión</button>
            <button class="btn register-btn "(click)="goRegistro()" >Registrarse</button>
        </div>
    </div>
</body>

<div class="links">
    <p><i class="fa-solid fa-location-dot"></i>Av. Bartolomé Mitre 750, B1870AAU Avellaneda, Provincia de Buenos Aires</p>
</div>
<div class="links">
    <p><i class="fa-solid fa-phone"></i> 4201.4133</p>
    <p><i class="fa-regular fa-clock"></i> Horario: lunes a viernes 09:30 a 19:00 hs.</p>
    <p><i class="fa-regular fa-envelope"></i> utn&#64;fra.com.ar</p>
</div>
<div class="links">
    <a class="icons" href="https://github.com/dsvlivon" class="link icons">              <i class="fa-brands fa-github"></i> Github</a>
    <a class="icons" href="https://www.linkedin.com/in/dsvlivon" class="link icons">     <i class="fa-brands fa-linkedin"></i> LinkedIn</a>
    <a class="icons" href="https://www.instagram.com/dani.vizgarra" class="link icons">  <i class="fa-brands fa-instagram"></i> Instagram</a>
</div>
