mat-grid-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    text-align: center;
  }
  
  .peli-pic {
    width: auto;
    height: 100px; 
    padding: 5px;
    align-items: center;
    justify-content: center;
   
    text-align: center;
  }
  
  .peli-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  
  th{
    background-color: rgb(101, 149, 189)
  }
  
  .accion-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 10px;
}

.btn-google {
    padding: 10px 20px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    flex: 1;
    text-align: center;
    margin: 10px;
    transition: background-color 0.3s;
}

.btn-google-selected {
    background-color: #28a745; /* Color de fondo para el botón seleccionado */
    color: #fff; /* Color del texto para el botón seleccionado */
}

